
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Get rid of all default margins/paddings. Set typeface */
* {
  box-sizing: border-box;
 

}

.image1{
    
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
/* Puts the form in the center both horizontally and vertically. Sets its height to 100% of the viewport's height */

 .login_credentials{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500vh;
    padding: 60px;
    size: 500px;
    
  }

  /* Styling text labels */

